/*
 * PT Sans Caption by ParaType - https://company.paratype.com/pt-sans-pt-serif
 * License: Paratype-1.2
 */

@font-face {
    font-family: 'PT Sans Caption';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('PT Sans Caption'),
         url('woff2/PT Sans Caption.woff2') format('woff2'),
         url('woff/PT Sans Caption.woff') format('woff');
}

@font-face {
    font-family: 'PT Sans Caption';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('PT Sans Caption'),
         url('woff2/PT Sans Caption Bold.woff2') format('woff2'),
         url('woff/PT Sans Caption Bold.woff') format('woff');
}

