/*
 * LatoLatin by Łukasz Dziedzic - http://www.latofonts.com/lato-free-fonts/
 * License: OFL-1.1
 */

@font-face {
    font-family: 'LatoLatin';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: local('LatoLatin'),
         url('woff2/LatoLatin Hairline.woff2') format('woff2'),
         url('woff/LatoLatin Hairline.woff') format('woff');
}

@font-face {
    font-family: 'LatoLatin';
    font-style: italic;
    font-weight: 100;
    font-display: swap;
    src: local('LatoLatin'),
         url('woff2/LatoLatin Hairline Italic.woff2') format('woff2'),
         url('woff/LatoLatin Hairline Italic.woff') format('woff');
}

@font-face {
    font-family: 'LatoLatin';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: local('LatoLatin'),
         url('woff2/LatoLatin Thin.woff2') format('woff2'),
         url('woff/LatoLatin Thin.woff') format('woff');
}

@font-face {
    font-family: 'LatoLatin';
    font-style: italic;
    font-weight: 200;
    font-display: swap;
    src: local('LatoLatin'),
         url('woff2/LatoLatin Thin Italic.woff2') format('woff2'),
         url('woff/LatoLatin Thin Italic.woff') format('woff');
}

@font-face {
    font-family: 'LatoLatin';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('LatoLatin'),
         url('woff2/LatoLatin Light.woff2') format('woff2'),
         url('woff/LatoLatin Light.woff') format('woff');
}

@font-face {
    font-family: 'LatoLatin';
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: local('LatoLatin'),
         url('woff2/LatoLatin Light Italic.woff2') format('woff2'),
         url('woff/LatoLatin Light Italic.woff') format('woff');
}

@font-face {
    font-family: 'LatoLatin';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('LatoLatin'),
         url('woff2/LatoLatin Regular.woff2') format('woff2'),
         url('woff/LatoLatin Regular.woff') format('woff');
}

@font-face {
    font-family: 'LatoLatin';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: local('LatoLatin'),
         url('woff2/LatoLatin Italic.woff2') format('woff2'),
         url('woff/LatoLatin Italic.woff') format('woff');
}

@font-face {
    font-family: 'LatoLatin';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local('LatoLatin'),
         url('woff2/LatoLatin Medium.woff2') format('woff2'),
         url('woff/LatoLatin Medium.woff') format('woff');
}

@font-face {
    font-family: 'LatoLatin';
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: local('LatoLatin'),
         url('woff2/LatoLatin Medium Italic.woff2') format('woff2'),
         url('woff/LatoLatin Medium Italic.woff') format('woff');
}

@font-face {
    font-family: 'LatoLatin';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local('LatoLatin'),
         url('woff2/LatoLatin Semibold.woff2') format('woff2'),
         url('woff/LatoLatin Semibold.woff') format('woff');
}

@font-face {
    font-family: 'LatoLatin';
    font-style: italic;
    font-weight: 600;
    font-display: swap;
    src: local('LatoLatin'),
         url('woff2/LatoLatin Semibold Italic.woff2') format('woff2'),
         url('woff/LatoLatin Semibold Italic.woff') format('woff');
}

@font-face {
    font-family: 'LatoLatin';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('LatoLatin'),
         url('woff2/LatoLatin Bold.woff2') format('woff2'),
         url('woff/LatoLatin Bold.woff') format('woff');
}

@font-face {
    font-family: 'LatoLatin';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: local('LatoLatin'),
         url('woff2/LatoLatin Bold Italic.woff2') format('woff2'),
         url('woff/LatoLatin Bold Italic.woff') format('woff');
}

@font-face {
    font-family: 'LatoLatin';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: local('LatoLatin'),
         url('woff2/LatoLatin Heavy.woff2') format('woff2'),
         url('woff/LatoLatin Heavy.woff') format('woff');
}

@font-face {
    font-family: 'LatoLatin';
    font-style: italic;
    font-weight: 800;
    font-display: swap;
    src: local('LatoLatin'),
         url('woff2/LatoLatin Heavy Italic.woff2') format('woff2'),
         url('woff/LatoLatin Heavy Italic.woff') format('woff');
}

@font-face {
    font-family: 'LatoLatin';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: local('LatoLatin'),
         url('woff2/LatoLatin Black.woff2') format('woff2'),
         url('woff/LatoLatin Black.woff') format('woff');
}

@font-face {
    font-family: 'LatoLatin';
    font-style: italic;
    font-weight: 900;
    font-display: swap;
    src: local('LatoLatin'),
         url('woff2/LatoLatin Black Italic.woff2') format('woff2'),
         url('woff/LatoLatin Black Italic.woff') format('woff');
}

